<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Qlik API Engine Test</title>
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <h1>QLIK API ENGINE TEST</h1>
  <p>Visit <a href="/get-app-dataset" target="_blank"><code>/get-app-dataset</code></a> to preview data</p>
  <p>Visit <a href="https://github.com/CornyCapacitor/qlik-ws-data-handler" target="_blank"><code>GitHub</code></a> page
    to read server specification</p>
</body>

</html>